
<h1>Department - <%= @department.name %></h1>
<%= link_to "Go Back", departments_path %>

<hr />

<h2><%= @department.name %> List</h2>
<h3>Select an item to view it</h3>

<%= @items.each do |item| %>
  <li><%= link_to item.name, [@department, item] %><li>
<% end %>
<br>
<hr />
<%= link_to "Create a New Item", new_department_item_path(@department) %>
